<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%# <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %> 
<%= form_with(model: @user, url: user_registration_path ,id: 'new_user', class: 'registration-main', local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


<div class="user-contents">



<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報編集
    </h1>
  </div>


  
<div class="form-group">
        <%= f.label :avatar, 'avatar' %>
        <%= f.file_field :avatar %>
      </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) muscle太郎", maxlength:"40" %>
  </div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">変更時のみ入力</span>
    </div>
    <%= f.label :email %><br />
<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">変更時のみ入力</span>
    </div>
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>





  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
    </div>
       <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
 

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">年齢(半角数字)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :age, class:"input-name", id:"last-name", placeholder:"例) 24" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性別</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
 <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>
  </div>
  <div class="form-group">
    <label class="form-text">通っているジムについて教えて下さい。</label>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">都道府県</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ジムの名前を教えて下さい。</label>
      <span class="indispensable">必須</span>
    </div>
     <div class='input-name-wrap'>
      <%= f.text_area :gymnasium, class:"input-default", id:"last-name", placeholder:"例) エニタイムフィットネス　町田店" %>
    </div>
  </div>
  
  
  <div class='register-btn'>
    <%= f.submit "更新する" ,class:"register-red-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <p class='register-info'>本人情報の登録について</p>
</div>

 <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

<% end %>


</div>
</div>



  





 



<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
